CardRouteWebService_Test/Service References/ServiceReference1/CwHubWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CwHubWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CwHubWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="printRequest">
    <xs:sequence>
      <xs:element name="companyNameField" nillable="true" type="xs:string" />
      <xs:element name="embAliasField" nillable="true" type="xs:string" />
      <xs:element name="embossedNameField" nillable="true" type="xs:string" />
      <xs:element name="expDateField" type="xs:dateTime" />
      <xs:element name="firstNameField" nillable="true" type="xs:string" />
      <xs:element name="pANField" nillable="true" type="xs:string" />
      <xs:element name="pinIPField" nillable="true" type="xs:string" />
      <xs:element name="productIdField" nillable="true" type="xs:string" />
      <xs:element name="secondNameField" nillable="true" type="xs:string" />
      <xs:element name="seqNumField" type="xs:int" />
      <xs:element name="startDateField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="printRequest" nillable="true" type="tns:printRequest" />
  <xs:complexType name="printResponse">
    <xs:sequence>
      <xs:element name="statusField" type="xs:int" />
      <xs:element name="uIIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="printResponse" nillable="true" type="tns:printResponse" />
  <xs:complexType name="checkRequest">
    <xs:sequence>
      <xs:element name="uIIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkRequest" nillable="true" type="tns:checkRequest" />
  <xs:complexType name="checkResponse">
    <xs:sequence>
      <xs:element name="statusField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkResponse" nillable="true" type="tns:checkResponse" />
  <xs:complexType name="closeRequest">
    <xs:sequence>
      <xs:element name="uIIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="closeRequest" nillable="true" type="tns:closeRequest" />
  <xs:complexType name="closeResponse">
    <xs:sequence>
      <xs:element name="statusField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="closeResponse" nillable="true" type="tns:closeResponse" />
</xs:schema>