CardRouteWebService_Test/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HubServiceMy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CwHubWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBindingInterface_print_InputMessage">
    <wsdl:part name="parameters" element="tns:print" />
  </wsdl:message>
  <wsdl:message name="IBindingInterface_print_OutputMessage">
    <wsdl:part name="parameters" element="tns:printResponse" />
  </wsdl:message>
  <wsdl:message name="IBindingInterface_check_InputMessage">
    <wsdl:part name="parameters" element="tns:check" />
  </wsdl:message>
  <wsdl:message name="IBindingInterface_check_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkResponse" />
  </wsdl:message>
  <wsdl:message name="IBindingInterface_close_InputMessage">
    <wsdl:part name="parameters" element="tns:close" />
  </wsdl:message>
  <wsdl:message name="IBindingInterface_close_OutputMessage">
    <wsdl:part name="parameters" element="tns:closeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBindingInterface">
    <wsdl:operation name="print">
      <wsdl:input wsaw:Action="http://tempuri.org/IBindingInterface/print" message="tns:IBindingInterface_print_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBindingInterface/printResponse" message="tns:IBindingInterface_print_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="check">
      <wsdl:input wsaw:Action="http://tempuri.org/IBindingInterface/check" message="tns:IBindingInterface_check_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBindingInterface/checkResponse" message="tns:IBindingInterface_check_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="close">
      <wsdl:input wsaw:Action="http://tempuri.org/IBindingInterface/close" message="tns:IBindingInterface_close_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBindingInterface/closeResponse" message="tns:IBindingInterface_close_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBindingInterface" type="tns:IBindingInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="print">
      <soap:operation soapAction="http://tempuri.org/IBindingInterface/print" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check">
      <soap:operation soapAction="http://tempuri.org/IBindingInterface/check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="close">
      <soap:operation soapAction="http://tempuri.org/IBindingInterface/close" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HubServiceMy">
    <wsdl:port name="BasicHttpBinding_IBindingInterface" binding="tns:BasicHttpBinding_IBindingInterface">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CwHubWebService/HubServiceMy/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>