CardRouteWebService_Test/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CwHubWebService" />
  <xs:element name="print">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CwHubWebService" minOccurs="0" name="printRequest" nillable="true" type="q1:printRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="printResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CwHubWebService" minOccurs="0" name="printResult" nillable="true" type="q2:printResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CwHubWebService" minOccurs="0" name="checkRequest" nillable="true" type="q3:checkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CwHubWebService" minOccurs="0" name="checkResult" nillable="true" type="q4:checkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="close">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CwHubWebService" minOccurs="0" name="closeRequest" nillable="true" type="q5:closeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="closeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CwHubWebService" minOccurs="0" name="closeResult" nillable="true" type="q6:closeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>